body {
    font-family:Inter,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#company-hero{
    position: relative;
    background-image: url('../storage/img/company-hero.jpg');
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#company-hero .hero-opacity{
    background-color: rgba(0,0,0,0.3);
}
#company-hero img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    object-fit: contain;
    box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 10%);
}
#company-hero .hero-caption{
    height: 400px;
}
#company-hero .hero-caption .content{
    color: #fff;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 2;
}
#company-hero .hero-caption .content h1, #company-body h2,#related-jobs h2{
    font-weight: 700;
    font-size: 2.2rem;
    color: #fff;
}  
#company-body h2, #related-jobs h2{
    letter-spacing: -1px;
    font-size: 1.8rem;
    color: #17171d;
} 

#company-body h2, #company-body h3, #related-jobs h2{
    letter-spacing: -1px;
    font-size: 1.8rem;
    color: #17171d;
} 
#company-body h3{
    font-size: 1.2rem;
    font-weight: 600;
}

#company-body p{
    font-family:Inter,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 0.9rem;
    color: #212529;
    line-height: 1.7;
}
#company-hero .hero-caption .content .location{
    display: flex;
    align-items: center;
} 

.single-company-side-panel{
    background-color: #fff8ec;
    border-radius: 30px;
}
.single-company-side-panel .label{
    opacity: 0.7;
    font-size: 0.84rem;
}
.single-company-side-panel .data{
    font-weight: 500;
    font-size: 1rem;
    color: #212529;
}
#related-jobs a{
    text-decoration: none;
}
#related-jobs .job-card{
    border:1px solid #e5e5e5;
    border-radius: 30px;
}
#related-jobs .job-card .top, #related-jobs .job-card .bottom{
    display: flex;
    align-items: center;
}

#related-jobs .job-card h3{
    font-weight: 600;
    color:#17171d;
    font-size: 1.13rem;
}
#related-jobs .job-card .top .details{
    display: flex;
    color:#17171d;
    font-weight: 300;
    font-size: 0.9rem;
}
#related-jobs .job-card .top .details .location{
    font-weight: 600;
}
#related-jobs .job-card .company-logo{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#related-jobs .job-card .bottom{
    font-weight: 300;
    justify-content: space-between;
}
#related-jobs .job-card .bottom .category, #related-jobs .job-card .bottom .created span{
    font-size: 0.9rem;
    color: #17171d;
}
#related-jobs .job-card .bottom .created{
    font-size: 0.8rem;
    color: #17171d;
}
.job-card .bottom .created span{
    font-weight: 600;
}
#related-jobs #header p{
    opacity: .7;
    font-weight: 300;
    color: #212529;
    line-height: 1.5;
    font-size: 1rem;;
}
.btn-zeleni {
    background-color: #0fbc49;
    color: #fff;
    border: #04d223;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: .26px;
    font-weight: 600;
    font-size: 13px;
}