:root {
    --blue-color:#3861fb;
}
body {
    font-family:Inter,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.navbar .navbar-toggler {
    border:none;
}
h2{
    font-size: clamp(16px,calc(1rem + 1vw), 40px);
    line-height: 1.375;
    letter-spacing: -.4px;
    font-weight: 700;
    color: #1d1d1f;
}
.color-blue{
    color: var(--blue-color)!important;
}
.color-orange{
    color: #fa5f1c !important;
}
.btn-zeleni {
    background-color:#0fbc49;
    color:#fff;
    border:#04d223;
    border-radius:8px;
    text-transform:uppercase;
    letter-spacing:.26px;
    font-weight:600;
    font-size:13px;
}
.btn-zeleni:hover{
    transition: .2s cubic-bezier(.39,.575,.565,1);
    opacity: 0.8;
    color: #fff;
}
.hero-container{
    background-image: url('../image/hero-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-body h1{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 1.2;
    letter-spacing: -.9px;
    color: #1d1d1f;
    margin-bottom: 1.2rem
}
.hero-body p{
    font-size: 1rem;
    color: #17171d;
}
.hero .popular-tags .label{
    font-weight:600;
    color: #17171d;
}
.hero .popular-tags a{
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    color: #2b3940;
    text-decoration: none;
    font-size: 0.8rem;
    box-shadow: 0 4px 15px rgb(52 82 255 / 6%);
}
#top-companies{
    
}
#top-companies img{
    /* filter: grayscale(100%); */
    background: white;
    border-radius: 8px;
    /* min-height: 110px; */
    width: 90px;
    object-fit: contain;
    height: 90px;
}
#top-companies .company-card{
    /* border-radius: 30px; */
    text-align: center;
    /* box-shadow: 0 10px 20px rgb(52 82 255 / 8%); */
}
#top-companies .company-card .company-logo{
    border-radius: 20px;
}

#top-companies h3{
    font-weight: 600;
    font-size: 0.9rem;
    color: #000;
}
#top-companies .description span{
    font-size: 0.8rem;
    color: #2b3940;
}
.job-card{
    padding:1.7rem;
    display: table;
    width:100%;
    margin-bottom:30px;
    transition:.4s;
    border-radius:30px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgb(0 40 99 / 10%);
}
.job-card:hover{
    box-shadow: 0 40px 60px rgba(0,0,0,.08);
}
.job-card a{
    text-decoration: none;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 1!important;
    -webkit-box-orient: vertical;
}
.job-card-body h3{
    margin-bottom: 0;
}
.job-name{
    font-weight: 700;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.62;
    letter-spacing: -.25px;
}
a.company-name{
    color: #808a9d !important;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    letter-spacing: .26px;
}
.job-card .square72{
    max-width: 72px;
    min-width: 72px;
    max-height: 72px;
    min-height: 72px;
    margin-right: 1.5625rem!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.job-card .media{
    display: flex;
    align-content: center;
}
.job-card .square72 img{
    border-radius: 8px;
}
.job-card-body{
    padding-top: 5px;
}
ul.tags{
    margin: 0;
    list-style: none;
    padding: 0;
}
ul.tags li{
    display: inline;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    min-width: 96px;
    padding: .25rem 1rem;
    border-radius: 6px;
    background-color: rgba(176,213,232,.15);
    line-height: 2;
    letter-spacing: .26px;
}
.header-button{
    padding-top: 15px;
    text-align: right;
}

.header-button a{
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    min-width: 150px;
    line-height: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #00b074;
    border-color: #00b074;
}

.header-button a:hover{
    color: #fff;
    background-color: #00b074;
    border-color: #00b074;
}
.all-articles{
    font-weight: 600;
    color: var(--blue-color);
    border-color: var(--blue-color);
}
.all-articles:link{
    color: var(--blue-color);
    text-decoration: none;
}
.cat-banner{
    border: 1px solid #e5e5e5;
    padding: 30px 33px 10px;
    background-color:#fff;
    max-height: 210px;
    border-radius: 30px;       
}
.cat-banner:hover{
    transition: .4s;
    box-shadow: 20px 20px 40px hsla(0,0%,68.6%,.16);
}
.cat-banner a{
    text-decoration: none;
}
.cat-banner-icon{
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    max-width: 70px;
    min-width: 70px;
    max-height: 70px;
    min-height: 70px;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    background-color: rgba(71,67,219,.1);
    height: 100%;
    align-items: center;
}
.cat-banner-body h5{
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: -.09px;
    color: #2b3940!important;
}
.cat-banner-body p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: -.08px;
    color: #6b6e6f!important;
    font-family: Inter,sans-serif;
}
.select2-container--default .select2-selection--multiple {
    border:0;
}
.select2-results__option.select2-results__message:empty {
    display: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border:none;
}

#search-form-home{
    -webkit-box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
    box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
}
.search_input_home{
    background-color: white;
    display:flex;
    align-content: center;
    padding:10px;
    border-radius: 8px;

}
.search_input_home .search_icon{
    margin-right: 15px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.btn-search-home{
    border-radius: 0 8px 8px 0;
}

select2-selection { 
    overflow: hidden;
}
.select2-selection__rendered { 
    white-space: normal; word-break: break-all; 
}
#features h2{
    font-size: 2.2rem;
    line-height: 1.375;
    letter-spacing:-.4px;
    margin: 3.8rem 0;
    font-weight: 700;
    color: #000;
}
#features img{
    width: 100%;
    border-radius: 30px;
}
#features h5{
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 1.2;
    color: #000;
    margin-bottom:.75rem;
}
#features .features-icon{
    font-size:19px;
    width: 48px;
    height: 48px;
    background: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#features p{
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing:-.08px;
    color: #6b6e6f;
    margin-bottom:0;
    font-weight: 400;
}
#articles, #events{ 
    color:white;
    background-color: #090212;
}
#articles h2, #events h2{ 
    color:white;
}
#articles .header-button a{
    color: white;
    background-color: #00b074;
}
#articles .header-button a:hover{
    color: white;
    background-color: transparent;
    border-color: #00b074;
}
.article-card{
    border-radius: 20px;
    overflow: hidden;
    border:none;
    box-shadow: 0px 5px 83px 0px rgb(27 26 26 / 12%);
}
.article-card img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.article-card .description{
    margin-top: -50px;
    background-color: rgb(69, 44, 104, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 5px 3px 10px 0px rgb(0 0 0 / 30%);
}
.article-card h3{
    margin-bottom: 15px;
    font-size: 20px;
    color:white;
    line-height: 30px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-card p {
    color: #a8a8bd;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
/* .article-card .calendar{
    position: absolute;
    bottom:0;
    background-color:#0fbc49;
    color:#ffffff;
    font-size: 13px;
} */

#events{
    color: #ffffff;
}

.timeline-item{
    background-color: #030303;
    box-shadow: 4px 4px 60px 0px rgb(99 69 237 / 19%);
    color: #ffffff;
    border-radius: 30px;
}
.timeline-item img{
    display: block;
    width: 100%;
    max-height: 215px;
    object-fit: cover;
}

.timeline-item .calendar span{
    display: block;
    margin-bottom: -10px;
    font-size: 30px;
    font-weight: 600;
    color:#04D223;
}
.timeline-item .calendar {
    display: inline-block;
    z-index: 10;
    bottom: -30px;
    left: 30px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 5px 3px 10px 0px rgb(0 0 0 / 30%);
    letter-spacing: .12rem;
    background-image: radial-gradient(at top right, #1a0a30 0%, #0c0417 100%);  overflow: hidden;
    border-radius: 10px;
    padding: 10px 20px;
}
.timeline-item h5 {
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
}
.timeline-item p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 11px;
}

.timeline-item .location{
    padding-left: 6px;
    opacity: 40%;
    font-size:.9rem;
}
.article-card .fix-bottom,.timeline-item .fix-bottom {
    position:absolute;
    bottom:1.1em;
}
.date-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 0 2px;
    border-radius: 3px;
    background-color:#04D223;
}
.timeline-item:hover{
    transform: scale(1.04);
    box-shadow: 0px 57px 29px -28px rgb(0 0 0 / 65%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#add-job{
    font-weight: 700;
    display: flex;
    align-items: center;
    border: 6px solid #3861fb;
    border-radius: 30px;
    color: #000;
}
#add-job h4{
    font-size: 1.2rem;
    margin-bottom: 0;
}
#add-job span{
    font-weight: 700;
    font-size: 2.3rem;
}
#add-job a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    margin-left: auto;
    transition: .2s;
    color: #ffffff;
    background-color: #175cff;
    border-color: #175cff;
    box-shadow: 0 11px 18px -8px rgb(23 92 255 / 60%);
    transition: all .3s ease-in-out;
}
#add-job a:hover{
    box-shadow: none;
}



/* NAVIGATION */

.navbar{
    /* background-color: #fff; */
    /* box-shadow: 0 12px 34px -11px rgba(65,62,101,.1); */
}
.navbar-logo{
    padding-top: 15px;
    width: 120px;
}
.navbar-logo img{
    width: 100%;
}
.nav-link{
    padding: 25px 0 25px;
    margin-left: 18px;
    margin-right: 18px;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

/* END NAVIGATION */



/* FOOTER */

footer{
    background-color: #fff;
    padding:  120px 0 85px 0;
}
footer .jobletter{
    text-align: center;
}
footer svg{
    margin-top: 7px;
    float: right;
    font-size: 60px;
    color: #e5e5e5;
}
.jobletter-mail {
    height:50px;
    border-radius:8px;
    border:1px solid #eaeced;
    padding:15px;
    transition:.3s;
    font-size:15px;
    letter-spacing:-.1px;
}

.jobletter h4{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -.7px;
    color: #000;
    margin-bottom: 1.875rem;
}
.jobletter p{
    color: #6b6e6f;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: -.08px;
    margin-bottom: 30px;
}

/* END FOOTER */

@media (max-width: 575.98px) {

    #features h2{
        font-size: 1.8rem;
    }
    .hero-body{
        text-align: center;
    }
    .hero-body h1{
        font-size: 2rem;
        text-align: left;  
    }
    .hero-body p{
        font-size: 1rem;
        text-align: left;  
    }
    .hero img{
        margin-top:0;
    }
    .header-button a {
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 1.7rem;
    }

    #search-form-home{
        box-shadow:none;
    }
    .btn-search-home{
        border-radius: 8px;
        -webkit-box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
        box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
    }
    .search_input_home{
        -webkit-box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
        box-shadow:rgba(36, 37, 38, 0.08) 4px 4px 15px 0;
    }
    .cat-banner{
        padding: 20px 10px 15px;
        border: 0;
        box-shadow: 5px 10px 20px hsl(0deg 0% 69% / 16%);

    }
    .article-card h3, .article-card.sub-articles h3{
        font-size: 1.5rem;
    }
    .article-card.main {
        box-shadow: none;
        border-radius: 8px;
        overflow: hidden;
    }
    .job-card .square72 img{
        border-radius: 8px;
    }
    .job-card .square72 {
        max-width: 60px;
        min-width: 60px;
        max-height: 60px;
        min-height: 60px;
        margin-right: 0.5rem!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .job-card-body {
        padding-top:0; 
    }
    .cat-banner-body h5, .job-name{
        font-size: 1rem;
    }
}
